.navbar + .docs-section {
  border-top-width: 0; }
.row{
  border-bottom: 2.5px solid #eee;
  display: block;
}
.navbar,
.navbar > .container {
  width: 100%; }
.navbar-list {
  list-style: none;
  margin-bottom: 0; }
.navbar-item {
  position: relative;
  float: right;
  margin-bottom: 0; }
.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222; }
.navbar-link.active {
  color: #33C3F0; }

#head-spacer{

  height: 6.5rem;
}

#slogan{
  margin-top: 7rem;
}

#homepagelogo{
  margin-left: 2rem;
}
