.navbar + .docs-section {
  border-top-width: 0; }
#nav-row{
  border-bottom: 2.5px solid #eee;
  display: block;
}
.navbar,
.navbar > .container {
  width: 100%; }
.navbar-list {
  list-style: none;
  margin-bottom: 0; }
.navbar-item {
  position: relative;
  float: right;
  margin-bottom: 0; }
.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222; }
.navbar-link.active {
  color: #33C3F0; }

.navbar a{
  font-size: 1.5rem;
}


.homepage-title{
  margin: 0;
}



#head-spacer{

  height: 2rem;
}

#slogan{
  margin-top: 12rem;
}

#homepagelogo{
}

#head-about-spacer{
  height:7rem;
}

#about-us-top-spacer{
  height:2rem;
}


#about-us{
  height:40rem;
  background-size:100%;
  background-repeat: no-repeat;
  border-radius: 25px;
  background-color: #87CEFA;
  background-position: center bottom;
}


#about-us h1{
  color: white;
}

#about-us h3{
  color: white;
}


#about-us-row{
margin-top:2rem;
margin-left:6rem;
margin-right:3rem;
height:42rem;
}
